$meter-width: 50vw;
$meter-height: 5vh;

.form-fields{
  margin: 0 5vh;
}

.form-fields label{
  margin-top: 3vh;
}

meter {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
}

.worst-meter {
  width: $meter-width;
  height: $meter-height;
  background: rgb(224, 78, 78);
}

.bad-meter {
  width: $meter-width;
  height: $meter-height;
  background: rgb(255, 146, 57);
}

.weak-meter {
  width: $meter-width;
  height: $meter-height;
  background: rgb(251, 233, 63);
}

.good-meter {
  width: $meter-width;
  height: $meter-height;
  background: greenyellow;
}

.strong-meter {
  width: $meter-width;
  height: $meter-height;
  background: rgb(91, 238, 91);
}

.hide-meter {
  display: none;
}