body {
  font-family: 'open sans', 'helvetica neue', helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background: #ecf0f1;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  min-width: 700px;
}

.tags-list{
  list-style: none;
}

.tags {
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
}

.tag {
  color: #fff;
  font-weight: bold;
  background: #3bb89d;
  float: left;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

.tag button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.tag-input {
  padding: 5px 10px;
  box-sizing: border-box;
  color: #7f8c8d;
  border: 0;
  float: left;
  margin: 10px 0;
  font-size: 16px;
  outline: 0;
}

code {
  font-size: 12px;
  background: #FCF8D0;
  display: inline-block;
  font-family: courier;
  padding: 4px 6px;
  border-radius: 4px;
}

small {
  color: #7f8c8d;
  font-size: 14px;
  margin-top: 10px;
  display: block;
  line-height: 16px;
}