#report-button{
  width: 10vh;
  height: 9vh;
  position: fixed;
  top: 1vh;
  right: 11vw;
  background: none;
  border: none;
}

#report-button img {
  border-radius: 0px;
  width: 100%;
  height: 100%;
}