
.send-content{
  position: absolute;
  right: 1vw;
  bottom: 5vw;
  display: flex;
  justify-content: flex-end;
}

.message-form{
  display: flex;
  justify-content: flex-end;
  width: 60vw;
  
  input{
    text-align: right;
    
  }
  .message-button{
    width: 20vw;
    text-align: center;
    background: #ff8080;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
}