.contact-profile{
  width: 100vw;
  height: 100vh;
  
  .contact-header{
    display: flex;
    height: 30vh;
    img{
      height: 15vh;
      align-self: center;
      margin: 0 10vw;
      border-radius: 100px;
    }
    h1{
      font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
      color: white;
      align-self: center;
      margin: 0 5vw;
      text-transform: none;
    }
  }

  .contact-text{
    margin: 5vh;
    h3{
      font-size: 26px;
      font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
      font-weight: 300;
    }
    p{
      font-size: 20px;
    }
  }
  

  .interests-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:  5vh;
    li{
      span{
        background-image: linear-gradient(-90deg, #ff8080, #ffa4a4);
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
      }
    }
  }

  ul{
    list-style-type: none;
  }
}
