.personality-explain{
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

.counter-test{
  font-size: 30px;
  margin: 0;
}

.personality-title{
  margin-bottom: 15vh;
}