.personality-explain{
  margin-top: 10vh;
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

.counter-test{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5vh;
}

.personality-title{
  margin-top: 3vh;
  margin-bottom: 15vh;
}