.bottomButtons{ 
  width: 160px; 
  height: 70px; 
  display: block; 
  float: left; 
  margin-left: 10px; 
  background-color: grey; 
  color: white; 
  text-decoration: none; 
  font-size: 18px; 
  text-align: center; 
  line-height: 4; 
  opacity: 0;}

@-webkit-keyframes fadeIn{ 0% { opacity: 0; } 25% { opacity: 1; }	100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% { opacity: 0; } 25% { opacity: 1; }	100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; } 25% { opacity: 1; } 100% { opacity: 1; } }

.bottomLinks{
  -webkit-animation: fadeIn ease -in 1;
  -moz-animation: fadeIn ease -in 1;
  animation: fadeIn ease -in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}

.one {
  -webkit-animation-delay: 1s;
}

@keyframes slidyFromRight {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }

  @keyframes slidyToLeft {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

div.slider-question { overflow: hidden; }

div.question-from-right figure img { width: 20%; float: left; }
div.question-from-right figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy; 
}

div.question-to-left figure img { width: 20%; float: left; }
div.question-to-left figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy; 
}


.me-button{
  text-decoration: none;
  background-color: rgb(98, 255, 255);
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  border: none;
  margin: 5vh 0;
  font-size: 20px;
  width: 20vh;
  justify-self: center;
  margin: 5vh 10px;
}

.not-me-button{
  text-decoration: none;
  background-color: rgb(255, 90, 90);
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  border: none;
  margin: 5vh 0;
  font-size: 20px;
  width: 20vh;
  justify-self: center;
  margin: 5vh 10px;
}

.personality-text{
  text-transform: uppercase;
  color: #ff8080;
  font-size: 2em;
}

.personality-card{
  display: grid;
  justify-content: center;
  width: 80vw;
}

.personality-card p{
  text-align: center;
  margin: 2vh;

}

.personality-card img{
  text-align: center;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}

.slider-question{
  display: grid;
  justify-content: center;
}