.chat-page{
  height: 100vh;

  .translate-text{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    label{
      padding: 5px;
      font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    }
    .select-language{
      font-size: 18px;
      border: none; 
      background: none;
      color: #ff8080;
      width: 100px;
      text-align: right;
      font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
  
      option{
        color: rgb(32, 32, 32);
      }
    }
  }
}

.contact-header{
  display: flex;
  height: 20vh;
  img{
    height: 15vh;
    align-self: center;
    margin: 0 5vw;
    border-radius: 100px;
  }
  h1{
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    color: white;
    align-self: center;
    margin: 0;
    text-transform: none;
  }

}

.chat-invite-image-box {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(75, 75, 75, 0.4);
  box-shadow: 0 4px 10px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
  width: 40vw;
  height: 15vh;
  position: absolute;
  top: 10vh;
  right: 4.5vw;
  padding: 5px;

  h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bolder;
  }

  .accept-decline-chat-invite-image {
    background: none;
    border: none;
    img {
      margin-bottom: 1vh;
      box-shadow: 0 4px 10px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
      margin-top: 1vh;
      width: 7vw;
      height: 7vw;
    }
  } 
}

.chat-invite-image-button {
  box-shadow: 0 4px 10px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
  position: absolute;
  top: 1vh; 
  right: 1vh;
  height: 5vh;
  width: 25vw;
  text-decoration: none;
  background-image: linear-gradient(-90deg, #ff8080, #ffa4a4);
  border-radius: 10px;
  color: white;
  border: none;
  justify-self: center;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: 0 4px 10px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
}

.chat-page-header {
  display: flex;
}

.chat-page-header-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}