.contacts-header{
  position: absolute;
  display: grid;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
}

.contacts-button{
  text-decoration: none;
  background-image: linear-gradient(-90deg, #ffffff, #fff5f5e8);
  border-radius: 50px;
  padding: 10px 10px;
  color: #ff8080;
  border: none;
  margin: 2vh 0;
  font-size: 16px;
  justify-self: center;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: 0 4px 10px 0 rgba(75, 75, 75, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.2);
  width: 35vw;
}

.contacts-matches-button{
  position:relative;
}

.notification{
  position:absolute;
  top:0;
  right: 0;
  background: #ff5050;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  p{
    margin: 0;
  }
}


.contacts-buttons {
  display: flex;
  justify-content: space-between;
}

.contacts-input {
  background: none;
  color: white;
  font-size: 20px;
}

.contacts-input:hover{
  border-bottom: 3px solid white;
}



.contacts-list{
  margin-top: 30vh;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90vw;
}

li{
  margin: 0;
  padding: 0;
}

.button-margin{
  position: fixed;
  bottom: 0;
}


.not-found{
  font-size: 20px;
  text-align: center;
}

//icons #7C5E5E