$profile-1: 'https://firebasestorage.googleapis.com/v0/b/tinder-sorpresa-e6911.appspot.com/o/images%2Fprofile-1.png?alt=media&token=f2e0d294-a7de-4e41-a2f9-31d67e53226a';
$profile-2: 'https://firebasestorage.googleapis.com/v0/b/tinder-sorpresa-e6911.appspot.com/o/images%2Fprofile-5.png?alt=media&token=00968353-993c-4aaa-9bd7-ea49116b63a3';
$profile-3: 'https://firebasestorage.googleapis.com/v0/b/tinder-sorpresa-e6911.appspot.com/o/images%2Fprofile-3.png?alt=media&token=e818eea0-4a33-488e-82ff-9f1d6d4a1a86';

.home {
  article{
    height: 100vh;
  }
  h1{
    font-size: 48px;
    color: white;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  h3{
    color: #6d5454;
    margin-top: 2vh;
    margin-bottom: 10vh;
    font-size: 24px;
  }
  .google-signup{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #6d5454;
    img{
      width: 10vw;
      align-self: center;
      padding-right: 2vw;
    }
  }

  .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .logo-background{
    
    display: grid;
    align-items: center;
    justify-items: center;
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 100px;
    margin: 0;
  }

  .logo{
    margin: 0;
    height: 95px;
    width: 95px;
    opacity: 0;
    background-size: cover;
    background-position: center;
    animation: logo 30s infinite;
    z-index: 2;
  }

  .bg-home{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    opacity: 0.6;
    top: 10vh;
  }


  @keyframes logo {
    0% {
      opacity: 0;
      background-image: url($profile-1);
    }
    11%{
      background-image: url($profile-1);
      opacity: 1;
    }
    22% {
      background-image: url($profile-1);
      opacity: 1;
    }
    33% {
      opacity: 0;
      background-image: url($profile-1);
    } 
    34% {
      opacity: 0;
      background-image: url($profile-2);
    }
    44%{
      background-image: url($profile-2);
      opacity: 1;
    }
    55% {
      background-image: url($profile-2);
      opacity: 1;
    } 
    66% {
      opacity: 0;
      background-image: url($profile-2);
    }
    67% {
      opacity: 0;
      background-image: url($profile-3);
    }
    77%{
      background-image: url($profile-3);
      opacity: 1;
    }
    88% {
      background-image: url($profile-3);
      opacity: 1;
    } 
    99% {
      background-image: url($profile-3);
      opacity: 0;
    }
    100% {
      background-image: url($profile-1);
      opacity: 0;
    }     
  }
}