.login-form{
  width: 100vw;
  height: 100vh;

  .signup-text{
    margin-top: 5vh;
    font-size: 20px;
  }


}

.title-login{
    color: white;
    font-size: 48px;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.login-fields{
  margin-top: 10vh;
  margin-bottom: 10vh;

  label{
    margin-top: 5vh; 
  }
}
