.profile-complete{
  width: 100vw;
  height: 100vh;
  label{
    margin-top: 5vh;
    color: #ff8080;
  }

  .tags{
    margin-top: 3vh;
  }

  .geocoder{
    margin-top: 3vh;
  }
}

.complete-title{
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: white;    
  font-size: 40px;
  text-align: center;
}