.profile-complete{
  width: 100vw;
  height: 100vh;
  label{
    margin-top: 5vh;
    color: #ff8080;
  }

  .tags{
    margin-top: 3vh;
  }

  .geocoder{
    margin-top: 3vh;
  }
}

.complete-title{
  color: white;    
  font-size: 40px;
  text-align: center;
}


.ready-content{
  display: grid;
  align-items: center;
  height: 100vh;
  p{
    font-size: 20px;
  }
}

.form-complete-profile{
  height: 100vh;

}