.profile-edit{
  height: 100vh;
  label{
    margin-top: 5vh;
  }

  h1{
    margin-top: 4vh;
    margin-bottom: 10vh;
    color: white;
    font-size: 48px;
    text-align: center;
  }
  .tags{
    margin-top: 3vh;
  }
}