section {
  width: 100vw;
  height: 100vh;
}

.search-title {
  //cambiar color titulos
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 10vh 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 30px;
    margin-top: 5vh;
  }
}

.search-items-container {

  display: flex;

  div {
    display: flex;
    margin: 0 5vw;

    #personality, #location {
      margin: 0;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid rgb(54, 54, 54);
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      margin-right: 3vw;
    }
  }
  
}

.search-sort-marked {
  background-color:  rgb(255, 105, 105);
}

.search-info-box {
  position: fixed;
  top: 40vh;
  left: 10vw;
  width: 80vw;
  border-radius: 15px;
  border: 2px solid  rgb(255, 93, 93);
  background-color:  rgba(255, 206, 160, 0.671);
}

.no-users{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}