.user-form{
  width: 100vw;
  height: 100vh;
  .login-text, .signup-text{
    margin-top: 5vh;
    font-size: 20px;
  }

  .title{
    color: white;
    font-size: 48px;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  
}
