@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
}

h1{
  color: rgb(87, 87, 87);
  text-transform: none;
  font-size: 30px;
  font-weight: bolder;
  font-family: Lato, Arial, Helvetica, sans-serif;

}

.page{
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.full{
  height: 100vh;
}

.home div{
  margin: 5vh 0;
}

.home p{
  margin: 5vh 0;
}

.signup h1{
 margin: 7vh 0;
}

.link-button{
  text-decoration: none;
  background-color: rgb(78, 74, 74);
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  border: none;
  margin: 5vh 0;
  font-size: 20px;
  width: 20vh;
  justify-self: center;
}

.link-text{
  color: rgb(27, 27, 27);
}

.link-text:hover{
  color: rgb(78, 74, 74);
}

input{
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  padding: 1.5vh 10px;
  margin: 2vh 0;
}

.column-content{
  display: grid;
  justify-content: center;
}